<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>User Itinerary</title>
    <meta name="description" content="">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/static/itinerary.css">
</head>
<body>
    <nav>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
            {% if category == 'error' %}
                <div class="alert alert-danger alter-dismissable fade show" role=alert>
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% else %}
                <div class="alert alert-success alter-dismissable fade show" role=alert>
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
        {% endfor %}
    {% endwith %}
    </nav>
    <h1>User Itinerary</h1>
    <div class="back-btn-container">
        <a href="{{ url_for('auth.recommendation') }}"><button class='back-btn'>Go Back To Recommendations Page</button></a>
    </div>
    <ul class="itinerary-container">
        {% for itinerary in itineraries %}
            <li class="itinerary-item">
                <h3>{{ itinerary.name }}</h3>
                <p><strong>Address:</strong> {{ itinerary.address }}</p>
                <p><strong>Start Date:</strong> {{ itinerary.start_date }}</p>
                <p><strong>End Date:</strong> {{ itinerary.end_date }}</p>
                <form method="POST">
                    <input type="hidden" name="itinerary_id" value="{{ itinerary.id }}">
                    <div class="delete-btn-container">
                        <button class='delete-btn' type="submit">Delete</button>
                    </div>
                </form>
            </li>
        {% endfor %}
    </ul>
</body>
</html>