body {
    font-family: 'Open Sans', Arial, sans-serif;
    margin: 20px;
    background-color: #1c3464;
    color: #FFFFFF; 
}
h1 {
    text-align: center;
}
.itinerary-container {
    color: #FFFFFF;    ;
    list-style: none;
    padding: 0;
}
.itinerary-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}
.back-btn-container {
    display: flex;
    justify-content: center;
    margin-top: 1px;
}

.back-btn {
    font-family: 'Open Sans', Arial, sans-serif;
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    background-color: #1c3464;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    transition: opacity 0.3s;
}

.back-btn:hover {
    opacity: 0.8;
    background-color: #2d416b;
}